# WEB SCRAPING – ASSIGNMENT 4

#  Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.
#  You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:
# 1. https://selenium-python.readthedocs.io/api.html
# 2. https://www.guru99.com/exception-handling-selenium.html
# 3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

In [1]:
import selenium
from selenium import webdriver 
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.
# Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
# You need to find following details:
# A) Rank
# B) Name
# C) Artist
# D) Upload date
# E) Views

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [5]:
Rank = []
Name = []
Artist = []
Upload_Date = []
Views = []



try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('-')

    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('-')

    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        Upload_Date.append(i.text)
except NoSuchElementException:
    Upload_Date.append('-')

    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        Views.append(i.text)
except NoSuchElementException:
    Views.append('-')

In [6]:
import pandas as pd
most_viewed = pd.DataFrame()
most_viewed['Rank'] = Rank
most_viewed['Name'] = Name
most_viewed['Artist'] = Artist
most_viewed['Date'] = Upload_Date
most_viewed['Views'] = Views
most_viewed

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.74
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.01
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.53
3,4.,"""Shape of You""[15]",Ed Sheeran,"January 30, 2017",5.85
4,5.,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.77
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.70
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.02
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.76
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[25]",Miroshka TV,"February 27, 2018",4.73
9,10.,"""Wheels on the Bus""[26]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.63
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.61
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.51
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.14
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.78
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.69
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.68
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.61
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.61
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.52
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.43
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.40
21,22.,"""Faded""[42]",Alan Walker,"December 3, 2015",3.37
22,23.,"""Girls Like You""[43]",Maroon 5,"May 31, 2018",3.35
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.34
24,25.,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.31
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.30
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.30
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.29
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.23
29,30.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.23

In [7]:
driver.close()

# 2. Scrape the details team India’s international fixtures from bcci.tv.
# Url = https://www.bcci.tv/.
# You need to find following details:
# A) Match title (I.e. 1st ODI)
# B) Series
# C) Place
# D) Date
# E) Time
# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
url = "https://www.bcci.tv/"
driver.get(url)

In [6]:
search_btn=driver.find_element(By.XPATH,"/html/body/nav/div[1]/button") 
search_btn.click()

In [7]:
int_btn=driver.find_element(By.XPATH,"/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a") 
int_btn.click()

In [8]:
Match_title = []
Series = []
Place = []
Date = []
Time = []



match_name = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for name in match_name:
    Match_title.append(name.text)
    
#scraping the data of Series
try:
    op_ser = driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for os in op_ser:
        Series.append(os.text)
except NoSuchElementException:
    Series.append('-')


#scraping data of display of the Place
try:
    place = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
    for disp in place:
        Place.append(disp.text)
except NoSuchElementException:
    Place.append("-")


# scraping data of date
try:
    date = driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
    for pro in date:
        Date.append(pro.text)
except NoSuchElementException:
    Date.append('-')


# scraping the data of time
try:
    time = driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
    for memo in time:
        Time.append(memo.text)
except NoSuchElementException:
    Time.append('-')

In [9]:
import pandas as pd
Team_india = pd.DataFrame()
Team_india['title'] = Match_title
Team_india['Series'] = Series
Team_india['Place'] = Place
Team_india['Date'] = Date
Team_india['Time'] = Time
Team_india

,title,Series,Place,Date,Time
0,First-Class Match -,INDIA A IN BANGLADESH MULTI DAY SERIES,"Sylhet International Cricket Stadium,",6 DEC 2022,9:00 AM IST
1,Women's Youth T20 Match -,NEW ZEALAND WM U19 IN INDIA T20 SERIES,"Sharad Pawar Cricket Academy BKC,",6 DEC 2022,1:00 PM IST
2,2nd ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Shere Bangla National Stadium, Mirpur,",7 DEC 2022,11:30 AM IST
3,1st T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",9 DEC 2022,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF BANGLADESH ODI SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",10 DEC 2022,11:30 AM IST
5,2nd T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"DY Patil Stadium,",11 DEC 2022,7:00 PM IST
6,1st Test -,INDIA TOUR OF BANGLADESH TEST SERIES 2022-23,"Zahur Ahmed Chowdhury Stadium,",14 DEC 2022,9:30 AM IST
7,3rd T20I -,AUSTRALIA WOMEN TOUR OF INDIA 2022,"Brabourne - CCI,",14 DEC 2022,7:00 PM IST

In [ ]:
driver.close()

# Q3. Scrape the details of selenium exception from guru99.com.
# Url = https://www.guru99.com/
# You need to find following details:
# A) Name
# B) Description
# Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [29]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [30]:
url = "https://www.guru99.com/"
driver.get(url)

In [31]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a") 
search_btn.click()

In [32]:
selenium_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a/strong") 
selenium_btn.click()

In [34]:
Name = []
Description = []

name = driver.find_elements(By.XPATH,'//p//strong')
for name in name:
    Name.append(name.text)
    
#scraping the data of Description
try:
    op_dec = driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]//p')
    for os in op_dec:
        Description.append(os.text)
except NoSuchElementException:
    Description.append('-')

In [35]:
len(Name)

48

In [36]:
len(Description)

55

In [37]:
Description=Description[0:48]
len(Description)

48

In [38]:
import pandas as pd
selenium_exception = pd.DataFrame()
selenium_exception['Name'] = Name
selenium_exception['Description'] = Description
selenium_exception

,Name,Description
0,exception,An exception is an error that happens at the t...
1,1. ElementNotVisibleException:,"The exception indicates that, although the eve..."
2,2. ElementNotSelectableException:,1. ElementNotVisibleException: This type of Se...
3,3. NoSuchElementException:,2. ElementNotSelectableException: This Seleniu...
4,4. NoSuchFrameException:,3. NoSuchElementException: This Exception occu...
5,5. NoAlertPresentException:,4. NoSuchFrameException: This Exception occurs...
6,6. NoSuchWindowException:,5. NoAlertPresentException: This Exception occ...
7,7. StaleElementReferenceException:,6. NoSuchWindowException: This Exception occur...
8,8. SessionNotFoundException:,7. StaleElementReferenceException: This Seleni...
9,9. TimeoutException:,8. SessionNotFoundException: The WebDriver is ...
10,10. WebDriverException:,9. TimeoutException: Thrown when there is not ...
11,11. ConnectionClosedException:,10. WebDriverException: This Exception takes p...
12,12. ElementClickInterceptedException:,11. ConnectionClosedException: This type of Ex...
13,13. ElementNotInteractableException:,12. ElementClickInterceptedException: The comm...
14,14. ErrorInResponseException:,13. ElementNotInteractableException: This Sele...
15,15. ErrorHandler.UnknownServerException:,14. ErrorInResponseException: This happens whi...
16,16. ImeActivationFailedException:,15. ErrorHandler.UnknownServerException: Excep...
17,17. ImeNotAvailableException:,16. ImeActivationFailedException: This expecta...
18,18. InsecureCertificateException:,17. ImeNotAvailableException: It takes place w...
19,19. InvalidArgumentException:,18. InsecureCertificateException: Navigation m...
20,20. InvalidCookieDomainException:,19. InvalidArgumentException: It occurs when a...
21,21. InvalidCoordinatesException:,20. InvalidCookieDomainException: This happens...
22,22. InvalidElementStateException:,21. InvalidCoordinatesException: This type of ...
23,23. InvalidSessionIdException:,22. InvalidElementStateException: It occurs wh...
24,24. InvalidSwitchToTargetException:,23. InvalidSessionIdException: This Exception ...
25,25. JavascriptException:,24. InvalidSwitchToTargetException: This occur...
26,26. JsonException:,25. JavascriptException: This issue occurs whi...
27,27. NoSuchAttributeException:,26. JsonException: It occurs when you afford t...
28,28. MoveTargetOutOfBoundsException:,27. NoSuchAttributeException: This kind of Exc...
29,29. NoSuchContextException:,28. MoveTargetOutOfBoundsException: It takes p...
30,30. NoSuchCookieException:,29. NoSuchContextException: ContextAware does ...
31,31. NotFoundException:,30. NoSuchCookieException: This Exception occu...
32,32. RemoteDriverServerException:,31. NotFoundException: This Exception is a sub...
33,33. ScreenshotException:,32. RemoteDriverServerException: This Selenium...
34,34. SessionNotCreatedException:,33. ScreenshotException: It is not possible to...
35,35. UnableToSetCookieException:,34. SessionNotCreatedException: It happens whe...
36,36. UnexpectedTagNameException:,35. UnableToSetCookieException: This occurs if...
37,37. UnhandledAlertException:,36. UnexpectedTagNameException: Happens if a s...
38,38. UnexpectedAlertPresentException:,37. UnhandledAlertException: This expectation ...
39,39. UnknownMethodException:,38. UnexpectedAlertPresentException: It occurs...
40,40. UnreachableBrowserException:,39. UnknownMethodException: This Exception hap...
41,41. UnsupportedCommandException:,40. UnreachableBrowserException: This Exceptio...
42,Step 1) Try-catch,41. UnsupportedCommandException: This occurs w...
43,Catch,"Here, are some important standard using which ..."
44,Step 2) Multiple catch blocks,Step 1) Try-catch
45,Step 3) Throw,"This method can catch Exceptions, which uses a..."
46,Step 4) Multiple Exceptions,Step 2) Multiple catch blocks
47,Step 5) Finally,"There are various types of Exceptions, and you..."

In [39]:
driver.close()

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details:
# A) Rank
# B) State
# C) GSDP(18-19)- at current prices
# D) GSDP(19-20)- at current prices
# E) Share(18-19)
# F) GDP($ billion)
# Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [9]:
url = "https://www.statisticstimes.com/"
driver.get(url)

In [10]:
economy_btn=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button") 
economy_btn.click()

In [11]:
indian_btn=driver.find_element(By.XPATH,'//div[@class="dropdown-content"]//a[3]') 
indian_btn.click()

In [12]:
#get the url of page containing GDP of indian states
sta_GDP = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li/a')
GDP_url = sta_GDP.get_attribute("href")

driver.get(GDP_url)
time.sleep(6)

In [13]:
Rank = []
State = []
GDPS = []
GDP = []
Share = []
GDPA = []



rank_name = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[1]')
for name in rank_name:
    Rank.append(name.text)
    
#scraping the data of State
try:
    op_ser = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[2]')
    for os in op_ser:
        State.append(os.text)
except NoSuchElementException:
    State.append('-')


#scraping data of display of the GDPS
try:
    gd = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[8]')
    for disp in gd:
        GDPS.append(disp.text)
except NoSuchElementException:
    GDPS.append("-")


# scraping data of GDP
try:
    gdp = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[3]')
    for pro in gdp:
        GDP.append(pro.text)
except NoSuchElementException:
    GDP.append('-')


# scraping the data of Share
try:
    shre = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]')
    for memo in shre:
        Share.append(memo.text)
except NoSuchElementException:
    Share.append('-')
    
    
# scraping the data of GDPA
try:
    gdpa = driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]//tbody//tr//td[5]')
    for mem in gdpa:
        GDPA.append(mem.text)
except NoSuchElementException:
    GDPA.append('-')

In [14]:
import pandas as pd
State_GDP = pd.DataFrame()
State_GDP['Rank'] = Rank
State_GDP['State'] = State
State_GDP['GSDP Current Price'] = GDPS
State_GDP['GDP $Billion'] = GDP
State_GDP['Share'] = Share
State_GDP['GDPA 19-20 Current Price'] = GDPA
State_GDP

,Rank,State,GSDP Current Price,GDP $Billion,Share,GDPA 19-20 Current Price
0,1,Maharashtra,"2,039,074",-,13.94%,13.94%
1,2,Tamil Nadu,"1,215,307","1,845,853",8.63%,8.63%
2,3,Uttar Pradesh,"1,123,982","1,687,818",8.39%,8.39%
3,4,Gujarat,"1,186,379",-,7.96%,7.96%
4,5,Karnataka,"1,091,077","1,631,977",7.91%,7.91%
5,6,West Bengal,"739,525","1,253,832",5.77%,5.77%
6,7,Rajasthan,"677,428","1,020,989",4.99%,4.99%
7,8,Andhra Pradesh,"621,301","972,782",4.57%,4.57%
8,9,Telangana,"612,828","969,604",4.56%,4.56%
9,10,Madhya Pradesh,"522,009","906,672",4.29%,4.29%
10,11,Kerala,"559,412",-,4.14%,4.14%
11,12,Delhi,"590,569","856,112",4.10%,4.10%
12,13,Haryana,"531,085","831,610",3.89%,3.89%
13,14,Bihar,"375,651","611,804",2.81%,2.81%
14,15,Punjab,"397,669","574,760",2.79%,2.79%
15,16,Odisha,"376,877","521,275",2.58%,2.58%
16,17,Assam,"234,048",-,1.67%,1.67%
17,18,Chhattisgarh,"231,182","329,180",1.61%,1.61%
18,19,Jharkhand,"224,986","328,598",1.57%,1.57%
19,20,Uttarakhand,"193,273",-,1.30%,1.30%
20,21,Jammu & Kashmir,"112,755",-,0.83%,0.83%
21,22,Himachal Pradesh,"117,851","165,472",0.81%,0.81%
22,23,Goa,"57,787","80,449",0.39%,0.39%
23,24,Tripura,"36,963","55,984",0.26%,0.26%
24,25,Chandigarh,"31,192",-,0.22%,0.22%
25,26,Puducherry,"23,013","38,253",0.18%,0.18%
26,27,Meghalaya,"24,682","36,572",0.18%,0.18%
27,28,Sikkim,"18,722","32,496",0.15%,0.15%
28,29,Manipur,"19,300","31,790",0.15%,0.15%
29,30,Nagaland,"17,647",-,0.14%,0.14%
30,31,Arunachal Pradesh,"16,676",-,0.13%,0.13%
31,32,Mizoram,"16,478","26,503",0.12%,0.12%
32,33,Andaman & Nicobar Islands,-,-,-,-

In [15]:
driver.close()

# Q5. Scrape the details of trending repositories on Github.com.
# Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [3]:
url = "https://github.com/"
driver.get(url)

In [4]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button") 
search_btn.click()

In [5]:
trading_btn=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a") 
trading_btn.click()

In [6]:
Repository_title = []
Repository_description = []
Contributors_count = []
Language_used = []


rep_name = driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for name in rep_name:
    Repository_title.append(name.text)
    
#scraping the data of Repository_description
try:
    op_dec = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for os in op_dec:
        Repository_description.append(os.text)
except NoSuchElementException:
    Repository_description.append('-')


#scraping data of display of the Contributors_count
try:
    count = driver.find_elements(By.XPATH,'//a[@class="Link--muted d-inline-block mr-3"][1]')
    for disp in count:
        Contributors_count.append(disp.text)
except NoSuchElementException:
    Contributors_count.append("-")


# scraping data of Language_used
try:
    used = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for pro in used:
        Language_used.append(pro.text)
except NoSuchElementException:
    Language_used.append('-')

In [12]:
import pandas as pd
trending_rep = pd.DataFrame()
trending_rep['Repository title'] = Repository_title
trending_rep['Repository description'] = Repository_description
trending_rep['Contributors count'] = Contributors_count
trending_rep

,Repository title,Repository description,Contributors count
0,wong2 /,A browser extension to display ChatGPT respons...,"3,906"
1,mpociot /,A VSCode extension that allows you to use ChatGPT,986
2,acheong08 /,Lightweight package for interacting with ChatG...,"2,768"
3,vincelwt /,"ChatGPT for Mac, living in your menubar.",874
4,monicahq /,Personal CRM. Remember everything about your f...,"18,247"
5,max-sixty /,Solve Advent of Code puzzles with GPT-3,356
6,transitive-bullshit /,Node.js client for the unofficial ChatGPT API.,"1,113"
7,altryne /,This is a very early attempt at having chatGPT...,525
8,m1guelpf /,"Run your own GPTChat Telegram bot, with a sing...",919
9,xiaolincoder /,图解计算机网络、操作系统、计算机组成、数据库，共 1000 张图 + 50 万字，破除晦涩难...,"3,379"
10,Visualize-ML /,Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；本册有，584幅图，81个代...,"1,197"
11,hehonghui /,"经济学人(含音频)、纽约客、卫报、连线、大西洋月刊等英语杂志免费下载,支持epub、mobi...","2,415"
12,hodgesmr /,A Python script that aggregates recent popular...,161
13,openai /,Node.js example app from the OpenAI API quicks...,388
14,invoke-ai /,This version of Stable Diffusion features a sl...,"7,404"
15,iamadamdev /,Bypass Paywalls web browser extension for Chro...,"31,435"
16,jerryjliu /,An index created by GPT to organize external i...,304
17,halo-dev /,好用又强大的开源建站工具。,"24,757"
18,taranjeet /,This repo is unofficial ChatGPT api. It is bas...,410
19,evrone /,Clean Architecture template for Golang services,"4,174"
20,mmabrouk /,API for interacting with ChatGPT using Python ...,212
21,flutter /,Flutter makes it easy and fast to build beauti...,"147,019"
22,timqian /,中文独立博客列表,"10,711"
23,gothinkster /,"""The mother of all demo apps"" — Exemplary full...","70,644"
24,MariaLetta /,✨ This pack of 100+ gopher pictures and elemen...,"2,787"

In [13]:
driver.close()

# Q6. Scrape the details of top 100 songs on billiboard.com.
# Url = https:/www.billboard.com/
# You have to find the following details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [3]:
url = "https://www.billboard.com/"
driver.get(url)

In [4]:
driver.find_element(By.XPATH,"//div[@class='u-overflow-hidden lrv-u-background-color-grey-lightest lrv-u-padding-t-150 u-padding-t-00@mobile-max u-padding-b-425@desktop-xl u-padding-b-325@tablet u-padding-b-250']").click()

In [6]:
driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div[1]/div[2]/div/div[2]/a[1]").click()

In [10]:
Song_name = []
Artist_name = []
Last_week = []
Peak_rank = []
Weeks_on = []

so_name = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for name in so_name:
    Song_name.append(name.text)
    
#scraping the data of Artist_name
try:
    op_art = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span')
    for os in op_art:
        Artist_name.append(os.text)
except NoSuchElementException:
    Artist_name.append('-')


#scraping data of display of the Last_week
try:
    last = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for disp in last:
        Last_week.append(disp.text)
except NoSuchElementException:
    Last_week.append("-")


# scraping data of Peak_rank
try:
    rank = driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
    for pro in rank:
        Peak_rank.append(pro.text)
except NoSuchElementException:
    Peak_rank.append('-')

# scraping data of Weeks_on
try:
    week = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
    for pro in week:
        Weeks_on.append(pro.text)
except NoSuchElementException:
    Weeks_on.append('-')

In [11]:
len(Song_name),len(Artist_name),len(Last_week),len(Peak_rank),len(Weeks_on)

(200, 800, 400, 200, 400)

In [12]:
Artist_name=Artist_name[0:200]
len(Artist_name)

200

In [13]:
Last_week=Last_week[0:200]
len(Last_week)

200

In [14]:
Weeks_on=Weeks_on[0:200]
len(Weeks_on)

200

In [15]:
import pandas as pd
top_song = pd.DataFrame()
top_song['song'] = Song_name
top_song['Artist'] = Artist_name
top_song['Last'] = Last_week
top_song['Peak'] = Peak_rank
top_song['Week'] = Weeks_on
top_song

                                  song             Artist Last Peak Week
0                            Midnights       Taylor Swift    1    1    1
1                             Her Loss                  1    6    2    6
2                     Un Verano Sin Ti                  1    2    3    2
3                            Christmas                  6    4    4    4
4                         It's Only Me  Drake & 21 Savage    3    5    3
..                                 ...                ...  ...  ...  ...
195    Man On The Moon: The End Of Day                  4  220  196  220
196                       I Am > I Was        Bing Crosby  143  197  143
197  My Beautiful Dark Twisted Fantasy                132  603  198  603
198              Everyday Is Christmas                 34    -  199    -
199                     50 Number Ones                 50    1  200    1

[200 rows x 5 columns]

In [16]:
driver.close()

# Q7. Scrape the details of Data science recruiters from naukri.com.
# Url = https://www.naukri.com/
# You have to find the following details:
# A) Name
# B) Designation
# C) Company
# D) Skills they hire for
# E) Location
# Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
# click on search. All this should be done through code

In [35]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [36]:
url = "https://www.naukri.com/"
driver.get(url)

In [37]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data science")

In [38]:
# clicking usjing absolute Xpath function
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [40]:
Name = []
Company = []
Skills_hire = []
Location = []



n_name = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for name in n_name:
    Name.append(name.text)
    
#scraping the data of Company
try:
    op_com = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for os in op_com:
        Company.append(os.text)
except NoSuchElementException:
    Company.append('-')


#scraping data of display of the skill
try:
    skill = driver.find_elements(By.XPATH,'//div[@class="job-description fs12 grey-text"]')
    for disp in skill:
        Skills_hire.append(disp.text)
except NoSuchElementException:
    Skills_hire.append("-")


# scraping data of location
try:
    loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for pro in loc:
        Location.append(pro.text)
except NoSuchElementException:
    Location.append('-')

In [42]:
import pandas as pd
naukri = pd.DataFrame()
naukri['Name'] = Name
naukri['Company'] = Company
naukri['Skills_hire'] = Skills_hire
naukri['Location'] = Location
naukri

,Name,Company,Skills_hire,Location
0,Data Science - Engineering Manager,Paytm,- We are looking for passionate and skilled da...,"New Delhi, Bangalore/Bengaluru"
1,Analyst-Data Science,Accenture,You will be required to utilize the existing f...,Bangalore/Bengaluru
2,Senior Analyst-Data Science,Accenture,Skill required: Data Science - Python Programm...,Mumbai
3,Data Science Lead - Forecasting,Cargill,"Bachelor s degree in Computer science, Statist...",Bangalore/Bengaluru
4,Deputy National Lead - Payments - Data Science,BAJAJ FINSERVE,"Bachelor s Degree in computer science, Math, P...",Pune
5,ACN - Applied Intelligence - CC - Data Science...,Accenture,Requirements: Responsible for taking up day-to...,Gurgaon/Gurugram
6,Lead Data Scientist - Data Sciences,GEP,", code review and version control tools, batch...",Remote
7,Technology Analyst / Data Science / Machine Le...,Infosys,Bachelor of Engineering Good understanding of ...,Bangalore/Bengaluru
8,SR Program Manager Data Science 15 Yrs PLUS Fo...,Xpheno,Roles and Responsibilities Data Science Your P...,Bangalore/Bengaluru
9,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,The ideal candidate should have a strong clien...,Bangalore/Bengaluru
10,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Bangalore/Bengaluru
11,Hiring For Senior / Lead Data Scientist - Data...,Tiger Analytics,A passion for writing high-quality code (Pytho...,Permanent Remote
12,Python Programming Language Data Science Pract...,Accenture,Technical Experience : Experience in DevOps pr...,Bangalore/Bengaluru
13,Data Science Trainee,Medtoureasy,This program will help anyone interested in pu...,Remote
14,Senior Data Science Engineer,Bizongo,"5+ years of experience in designing, developin...","Mumbai, Bangalore/Bengaluru"
15,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Chennai
16,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Mumbai
17,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Preferred Educational Background PhD / Masters...,Gurgaon/Gurugram
18,Analyst - Data Science - Python/Machine Learni...,Huquo Consulting,"BTech, MTech or MCA degree from a reputed univ...",Gurgaon/Gurugram
19,Job Opening For Data Science Manager @ GlobalD...,Globaldata,"Hello, Hope you are doing good.Urgent job open...",Temp. WFH - Hyderabad/Secunderabad(Kondapur)

In [43]:
driver.close()

# Q8. Scrape the details of Highest selling novels.
# Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
# You have to find the following details:
# A) Book name
# B) Author name
# C) Volumes sold
# D) Publisher
# E) Genre

In [24]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [25]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [26]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append('-')
    time.sleep(5)

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append('-')
    time.sleep(5)
    
try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[4]'):
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('-')
    time.sleep(5)

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('-')
    time.sleep(5)

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('-')
    time.sleep(5)

In [27]:
import pandas as pd
Highest_selling = pd.DataFrame()
Highest_selling['book'] = Book_name
Highest_selling['Author'] = Author_name
Highest_selling['Volumes sold'] = Volumes_sold
Highest_selling['Publisher'] = Publisher
Highest_selling['Genre'] = Genre
Highest_selling

,book,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [28]:
driver.close()

# Q9. Scrape the details most watched tv series of all time from imdb.com.
# Url = https://www.imdb.com/list/ls095964455/
# You have to find the following details:
# A) Name
# B) Year span
# C) Genre
# D) Run time
# E) Ratings
# F) Votes

In [44]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [45]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [46]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []


N_name = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for name in N_name:
    Name.append(name.text)
    
#scraping the data of Year_span
try:
    op_span = driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
    for os in op_span:
        Year_span.append(os.text)
except NoSuchElementException:
    Year_span.append('-')


#scraping data of display of the Genre
try:
    gen = driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for disp in gen:
        Genre.append(disp.text)
except NoSuchElementException:
    Genre.append("-")


# scraping data of Run_time
try:
    run = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for pro in run:
        Run_time.append(pro.text)
except NoSuchElementException:
    Run_time.append('-')


# scraping the data of Ratings
try:
    rating = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
    for memo in rating:
        Ratings.append(memo.text)
except NoSuchElementException:
    Ratings.append('-')
    
    
    
# scraping the data of Votes
try:
    vote = driver.find_elements(By.XPATH,'//span[@name="nv"]')
    for memo in vote:
        Votes.append(memo.text)
except NoSuchElementException:
    Votes.append('-')

In [48]:
import pandas as pd
tv_series = pd.DataFrame()
tv_series['Name'] = Name
tv_series['year'] = Year_span
tv_series['Genre'] = Genre
tv_series['Run_time'] = Run_time
tv_series['voting'] = Votes
tv_series['rating'] = Ratings
tv_series

,Name,year,Genre,Run_time,voting,rating
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,"2,089,118",9.2
1,2. Stranger Things (2016– ),(2016– ),"Drama, Fantasy, Horror",51 min,"1,178,767",8.7
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,"988,337",8.1
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,"292,753",7.5
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"251,897",7.6
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,"50,165",7.4
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,"61,423",7.8
97,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,"198,185",8.1
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,"41,567",7.1
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,"245,094",8.6

In [49]:
driver.close()

# Q10. Details of Datasets from UCI machine learning repositories.
# Url = https://archive.ics.uci.edu/
# You have to find the following details:
# A) Dataset name
# B) Data type
# C) Task
# D) Attribute type
# E) No of instances
# F) No of attribute
# G) Year
# Note: - from the home page you have to go to the ShowAllDataset page through code.

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")
driver.maximize_window()

In [3]:
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)

In [4]:
dataset_btn=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]") 
dataset_btn.click()

In [5]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attribute = []
Year = []


N_name = driver.find_elements(By.XPATH,'//p[@class="normal"]//b//a')
for name in N_name:
    Dataset_name.append(name.text)
    
#scraping the data of data
try:
    op_data = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]')
    for os in op_data:
        Data_type.append(os.text)
except NoSuchElementException:
    Data_type.append('-')


#scraping data of display of the Task
try:
    task = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
    for disp in task:
        Task.append(disp.text)
except NoSuchElementException:
    Task.append("-")


# scraping data of Attribute type
try:
    att = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
    for pro in att:
        Attribute_type.append(pro.text)
except NoSuchElementException:
     Attribute_type.append('-')


# scraping the data of No_of_instances
try:
    inst = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]')
    for memo in inst:
        No_of_instances.append(memo.text)
except NoSuchElementException:
    No_of_instances.append('-')
    
    
    
# scraping the data of No_of_attribute
try:
    attri = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]')
    for memo in attri:
        No_of_attribute.append(memo.text)
except NoSuchElementException:
    No_of_attribute.append('-')   
    
    
# scraping the data of Year
try:
    year = driver.find_elements(By.XPATH,'//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]')
    for mem in year:
        Year.append(mem.text)
except NoSuchElementException:
    Year.append('-')

In [6]:
import pandas as pd
UCI = pd.DataFrame()
UCI['Name'] = Dataset_name
UCI['Data type'] = Data_type
UCI['Task'] = Task
UCI['Attribute_type'] = Attribute_type
UCI['No_of_instances'] = No_of_instances
UCI['No_of_attribute'] = No_of_attribute
UCI['Year'] = Year
UCI

,Name,Data type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer","Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real","Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Classification,"Integer, Real","Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Classification,"Integer, Real","Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,Classification,,,1014,7,2020
620,Room Occupancy Estimation,Classification,Real,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Regression,Real,Real,4000,2,2021

In [7]:
driver.close()