# 1. All the questions must be done in a single Jupyter notebook.
# 2. There should be proper comments in code.

In [1]:
import selenium
from selenium import webdriver 
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [102]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [103]:
driver.maximize_window()

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
# have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
# jobs data.
# This task will be done in following steps:

# 1. First get the webpage https://www.naukri.com/
# 2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
# location” field.
# 3. Then click the search button.
# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [104]:
url = "https://www.naukri.com/"
driver.get(url)

In [105]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

In [106]:
# finding web element for seach locn bar using absolute xpath
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [107]:
# clicking usjing absolute Xpath function
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

# Extracting job titles

In [108]:
# let's extract all web element having jobs title
job_titles = []
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags:
    job_titles.append(i.text.split(","))
job_titles=job_titles[0:10]
job_titles

[['Senior Data Analyst - PLM Data Migration'],
 ['Associate Healthcare Research & Data Analyst'],
 ['Lead Data Analyst'],
 ['Contractual Hiring For Top MNC || Business Data Analyst || Bangalore'],
 ['Master Data Management Business Analyst'],
 ['Data Analyst'],
 ['Sr. Data Analyst (SAS Data Management)'],
 ['Data Analyst'],
 ['Data Analyst'],
 ['Lead Data Management Analyst']]

# Extracting company Name

In [109]:
# let's extract all web element having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text.split(","))
company_names=company_names[0:10]
company_names

[['CGI'],
 ['Clarivate'],
 ['Mobile Premier League (MPL)'],
 ['TeamLease'],
 ['Accenture'],
 ['Elasticsearch'],
 ['NMS Consultant'],
 ['IBM'],
 ['IBM'],
 ['Wells Fargo']]

# Extracting experience

In [110]:
experience = []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags:
    experience.append(i.text.split(","))
experience=experience[0:10]
experience

[['3-6 Yrs'],
 ['3-4 Yrs'],
 ['4-7 Yrs'],
 ['5-8 Yrs'],
 ['6-8 Yrs'],
 ['2-5 Yrs'],
 ['5-10 Yrs'],
 ['3-4 Yrs'],
 ['3-4 Yrs'],
 ['5-8 Yrs']]

# Extracting Location

In [111]:
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags:
    location.append(i.text.split(","))
location=location[0:10]
location

[['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru', ' New Delhi'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru', ' Chennai']]

In [112]:
len(job_titles),len(company_names),len(experience),len(location)

(10, 10, 10, 10)

In [113]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['company names'] = company_names
jobs['experience'] = experience
jobs['location'] = location
jobs

,job title,company names,experience,location
0,[Senior Data Analyst - PLM Data Migration],[CGI],[3-6 Yrs],[Bangalore/Bengaluru]
1,[Associate Healthcare Research & Data Analyst],[Clarivate],[3-4 Yrs],[Bangalore/Bengaluru]
2,[Lead Data Analyst],[Mobile Premier League (MPL)],[4-7 Yrs],[Bangalore/Bengaluru]
3,[Contractual Hiring For Top MNC || Business Da...,[TeamLease],[5-8 Yrs],[Bangalore/Bengaluru]
4,[Master Data Management Business Analyst],[Accenture],[6-8 Yrs],[Bangalore/Bengaluru]
5,[Data Analyst],[Elasticsearch],[2-5 Yrs],[Bangalore/Bengaluru]
6,[Sr. Data Analyst (SAS Data Management)],[NMS Consultant],[5-10 Yrs],"[Bangalore/Bengaluru, New Delhi]"
7,[Data Analyst],[IBM],[3-4 Yrs],[Bangalore/Bengaluru]
8,[Data Analyst],[IBM],[3-4 Yrs],[Bangalore/Bengaluru]
9,[Lead Data Management Analyst],[Wells Fargo],[5-8 Yrs],"[Bangalore/Bengaluru, Chennai]"

In [114]:
driver.close()

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
# have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
# This task will be done in following steps:
# 1. First get the webpage https://www.naukri.com/
# 2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
# location” field.
# 3. Then click the search button.
# 4. Then scrape the data for the first 10 jobs results you get.
# 5. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [115]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [116]:
driver.maximize_window()

In [117]:
url = "https://www.naukri.com/"
driver.get(url)

In [118]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [119]:
# finding web element for seach locn bar using absolute xpath
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys('Bangalore')

In [120]:
# clicking usjing absolute Xpath function
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

# Extracting job titles

In [121]:
# let's extract all web element having jobs title
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text.split(","))
job_titles=job_titles[0:10]
job_titles

[['Analystics & Modeling Specialist'],
 ['Assistant Manager - Data Science'],
 ['Senior Data Scientist'],
 ['Program Manager', ' Analytics'],
 ['Data Scientist'],
 ['ACN - Applied Intelligence - Data Scientist - 09'],
 ['Data Scientist - Looking For Immediate Joiners'],
 ['Data Scientist'],
 ['Senior Data Scientist'],
 ['Data Scientist - II']]

# Extracting company Name

In [122]:
# let's extract all web element having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text.split(","))
company_names=company_names[0:10]
company_names

[['Accenture'],
 ['Citiustech'],
 ['Wipro'],
 ['Uber'],
 ['Quest Global'],
 ['Accenture'],
 ['Wipro'],
 ['Altair'],
 ['Boston Consulting Group'],
 ['Bizongo']]

# Extracting experience

In [123]:
experience = []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags:
    experience.append(i.text.split(","))
experience= experience[0:10] 
experience

[['6-8 Yrs'],
 ['5-9 Yrs'],
 ['6-11 Yrs'],
 ['3-7 Yrs'],
 ['5-7 Yrs'],
 ['2-6 Yrs'],
 ['5-10 Yrs'],
 ['2-7 Yrs'],
 ['5-10 Yrs'],
 ['3-6 Yrs']]

# Extracting Location

In [124]:
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags:
    location.append(i.text.split(","))
location=location[0:10]
location

[['Bangalore/Bengaluru',
  ' Kolkata',
  ' Mumbai',
  ' Hyderabad/Secunderabad',
  ' Pune',
  ' Chennai'],
 ['Hybrid - Bangalore/Bengaluru', ' Mumbai', ' Pune'],
 ['Hybrid - Bangalore/Bengaluru', ' Pune', ' Chennai'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Bangalore/Bengaluru'],
 ['Hybrid - Bangalore/Bengaluru', ' Hyderabad/Secunderabad'],
 ['Bangalore/Bengaluru', ' Hyderabad/Secunderabad', ' Pune', ' Chennai'],
 ['Bangalore/Bengaluru', ' Mumbai', ' New Delhi', ' Chennai'],
 ['Bangalore/Bengaluru', ' India', ' Mumbai (All Areas)']]

In [125]:
len(job_titles),len(company_names),len(experience),len(location)

(10, 10, 10, 10)

In [126]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['company names'] = company_names
jobs['experience'] = experience
jobs['location'] = location
jobs

,job title,company names,experience,location
0,[Analystics & Modeling Specialist],[Accenture],[6-8 Yrs],"[Bangalore/Bengaluru, Kolkata, Mumbai, Hyde..."
1,[Assistant Manager - Data Science],[Citiustech],[5-9 Yrs],"[Hybrid - Bangalore/Bengaluru, Mumbai, Pune]"
2,[Senior Data Scientist],[Wipro],[6-11 Yrs],"[Hybrid - Bangalore/Bengaluru, Pune, Chennai]"
3,"[Program Manager, Analytics]",[Uber],[3-7 Yrs],[Bangalore/Bengaluru]
4,[Data Scientist],[Quest Global],[5-7 Yrs],[Bangalore/Bengaluru]
5,[ACN - Applied Intelligence - Data Scientist -...,[Accenture],[2-6 Yrs],[Bangalore/Bengaluru]
6,[Data Scientist - Looking For Immediate Joiners],[Wipro],[5-10 Yrs],"[Hybrid - Bangalore/Bengaluru, Hyderabad/Secu..."
7,[Data Scientist],[Altair],[2-7 Yrs],"[Bangalore/Bengaluru, Hyderabad/Secunderabad,..."
8,[Senior Data Scientist],[Boston Consulting Group],[5-10 Yrs],"[Bangalore/Bengaluru, Mumbai, New Delhi, Ch..."
9,[Data Scientist - II],[Bizongo],[3-6 Yrs],"[Bangalore/Bengaluru, India, Mumbai (All Are..."

In [127]:
driver.close()

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
# You have to use the location and salary filter.
# You have to scrape data for “Data Scientist” designation for first 10 job results.
# You have to scrape the job-title, job-location, company name, experience required.
# The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
# The task will be done as shown in the below steps:
# 1. first get the webpage https://www.naukri.com/
# 2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
# 3. Then click the search button.
# 4. Then apply the location filter and salary filter by checking the respective boxes
# 5. Then scrape the data for the first 10 jobs results you get.
# 6. Finally create a dataframe of the scraped data.
# Note: All of the above steps have to be done in code. No step is to be done manually.

In [29]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [30]:
driver.maximize_window()

In [31]:
url = "https://www.naukri.com/"
driver.get(url)

In [32]:
# finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [33]:
# clicking usjing absolute Xpath function
search_btn = driver.find_element(By.CLASS_NAME,'qsbSubmit')
search_btn.click()

In [34]:
location_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]") 
location_filter.click()

In [35]:
salary_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]") 
salary_filter.click()

In [43]:
#Lets extract all web elements having Job Title 
job_titles = []
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    job_titles.append(i.text.split(","))
job_titles=job_titles[0:10]
job_titles

[['Data Scientist'],
 ['DigitalBCG GAMMA Data Scientist'],
 ['Urgent hiring For Data Scientist (PHD Must Have)'],
 ['Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS'],
 ['Data Scientist / Sr. Data Scientist'],
 ['Data Scientist'],
 ['Data Scientist'],
 ['Data Scientist'],
 ['Data scientist- Python'],
 ['Data Scientist']]

In [44]:
len(job_titles)

10

In [45]:
# let's extract all web element having company names
company_names = []
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text.split(","))
company_names=company_names[0:10]
company_names

[['HCLTech'],
 ['Boston Consulting Group'],
 ['NGI Ventures'],
 ['Black Turtle'],
 ['Wegarner Solutions'],
 ['torcai digital media'],
 ['Meon Technologies'],
 ['Alliance Recruitment Agency'],
 ['TeamPlus Staffing Solution Pvt Ltd'],
 ['Razor Group GmbH']]

In [46]:
experience = []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags:
    experience.append(i.text.split(","))
experience=experience[0:10]
len(experience)

10

In [47]:
location = []
locn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locn_tags:
    location.append(i.text.split(","))
location=location[0:10]
len(location)

10

In [48]:
jobs = pd.DataFrame()
jobs['job title'] = job_titles
jobs['company names'] = company_names
jobs['experience'] = experience
jobs['location'] = location
jobs

,job title,company names,experience,location
0,[Data Scientist],[HCLTech],[4-9 Yrs],"[Noida, Hyderabad/Secunderabad, Chennai, Ba..."
1,[DigitalBCG GAMMA Data Scientist],[Boston Consulting Group],[2-5 Yrs],"[New Delhi, Bangalore/Bengaluru]"
2,[Urgent hiring For Data Scientist (PHD Must Ha...,[NGI Ventures],[0-4 Yrs],"[Temp. WFH - Noida, Pune]"
3,[Manager - Data Science - Banking&Financial Se...,[Black Turtle],[4-8 Yrs],"[Delhi / NCR, Bangalore/Bengaluru]"
4,[Data Scientist / Sr. Data Scientist],[Wegarner Solutions],[3-8 Yrs],[Temp. WFH - Noida]
5,[Data Scientist],[torcai digital media],[2-7 Yrs],"[Dehradun, Hyderabad/Secunderabad, Gurgaon/G..."
6,[Data Scientist],[Meon Technologies],[2-5 Yrs],[Noida]
7,[Data Scientist],[Alliance Recruitment Agency],[3-4 Yrs],[Noida]
8,[Data scientist- Python],[TeamPlus Staffing Solution Pvt Ltd],[3-6 Yrs],[Gurgaon/Gurugram]
9,[Data Scientist],[Razor Group GmbH],[2-3 Yrs],[New Delhi]

In [49]:
driver.close()

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
# 1. Brand
# 2. Product Description
# 3. Price
# The attributes which you have to scrape is ticked marked in the below image.
# To scrape the data you have to go through following steps:
# 1. Go to Flipkart webpage by url : https://www.flipkart.com/
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
# click the search icon
# 3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
# required data as usual.
# 4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
# click on it.
# 5. Now scrape data from this page as usual
# 6. Repeat this until you get data for 100 sunglasses.

In [38]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [39]:
driver.maximize_window()

In [41]:
url = "https://www.flipkart.com/"
driver.get(url)

In [42]:
#Finding the web element for search "Sunglass" 
search_job=driver.find_element(By.CLASS_NAME,"_3704LK") 
search_job.send_keys("sunglasses")

In [43]:
#Clicking using absolute xpath function 
search_btn=driver.find_element(By.CLASS_NAME,"_34RNph") 
search_btn.click()

In [44]:
#Lets extract all web elements having 100 Sunglass Brand 
brands=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']") 
    for i in title_tag: 
        brands.append(i.text.split(",")) 
brands=brands[0:100]

In [45]:
#Lets extract all web elements having 100 Sunglass Product Discription 
prod_des=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']") 
    for i in title_tag: 
        prod_des.append(i.text.split(",")) 
prod_des=prod_des[0:100]

In [46]:
#Lets extract all web elements having 100 Sunglass Price 
price=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']") 
    for i in title_tag: 
        price.append(i.text.split(" ")) 
price=price[0:100]

In [47]:
#Lets make datafram 
import pandas as pd 
sunglass=pd.DataFrame({"Sunglass Brands":brands,"Production Descripion":prod_des,"Sunglass Price":price}) 
sunglass

,Sunglass Brands,Production Descripion,Sunglass Price
0,[Resist],"[Toughened Glass Lens, UV Protection, Riding...","[₹1,399]"
1,[ARICKS],"[UV Protection, Polarized Rectangular Sunglas...",[₹236]
2,[Fastrack],[UV Protection Wayfarer Sunglasses (Free Size)],[₹649]
3,[PIRASO],[UV Protection Rectangular Sunglasses (52)],[₹199]
4,[VINCENT CHASE],[UV Protection Wayfarer Sunglasses (59)],[₹649]
...,...,...,...
95,[Sewell],"[Mirrored, Night Vision, UV Protection, Rid...",[₹265]
96,[ROZZETTA CRAFT],"[UV Protection, Gradient Rectangular Sunglass...",[₹426]
97,[Singco India],"[UV Protection, Riding Glasses, Others Aviat...",[₹215]
98,[VINCENT CHASE],"[by Lenskart Polarized, UV Protection Cat-eye...",[₹949]
99,[Fastrack],"[Gradient, UV Protection Wayfarer Sunglasses ...",[₹679]

In [48]:
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link
# When you will open the above link you will reach to the below shown webpage .
# As shown in the above page you have to scrape the tick marked attributes.These are:
# 1. Rating
# 2. Review summary
# 3. Full review
# 4. You have to scrape this data for first 100 reviews.
# Note: All the steps required during scraping should be done through code only and not manually

In [52]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [53]:
driver.maximize_window()

In [54]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd"
driver.get(url)

In [55]:
Rating = []
rat_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rat_tags:
    Rating.append(i.text)
Rating

['5', '4', '5', '5', '5', '5', '5', '5', '4', '5']

In [56]:
Review_summary = []
summ_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in summ_tags:
    Review_summary.append(i.text)
Review_summary

['Simply awesome',
 'Value-for-money',
 'Perfect product!',
 'Best in the market!',
 'Highly recommended',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Pretty good',
 'Great product']

In [58]:
Full_review = []
rev_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in rev_tags:
    Full_review.append(i.text)
Full_review

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 "I'm Really happy with the product\nDelivery was fast as well\n..it was a gift for my sister and she loved it so much.",
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 'Value for money\n5 star rating\nExcellent camera\nBattery backup full day in single charge.\n\nTougher and water resistant design, glossy back.\nThe screen has excellent brightness and contrast.\nApple A13 Bionic is the fastest smartphone chip on the planet.\nExcellent battery life, fast charging support.\nStereo speakers with great quality.',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE']

In [59]:
iphone=pd.DataFrame({'Rating':Rating,'Reviewsummary':Review_summary,'Fullreview':Full_review})
iphone

,Rating,Reviewsummary,Fullreview
0,Really satisfied with the Product I received.....,Simply awesome,Really satisfied with the Product I received.....
1,I'm Really happy with the product\nDelivery wa...,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,Amazing phone with great cameras and better ba...,Perfect product!,Amazing phone with great cameras and better ba...
3,Great iPhone very snappy experience as apple k...,Best in the market!,Great iPhone very snappy experience as apple k...
4,What a camera .....just awesome ..you can feel...,Highly recommended,What a camera .....just awesome ..you can feel...
5,Previously I was using one plus 3t it was a gr...,Worth every penny,Previously I was using one plus 3t it was a gr...
6,It's my first time to use iOS phone and I am l...,Highly recommended,It's my first time to use iOS phone and I am l...
7,Value for money\n5 star rating\nExcellent came...,Perfect product!,Value for money\n5 star rating\nExcellent came...
8,I was using Iphone 6s and also Oneplus 6t. Bot...,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
9,Amazing Powerful and Durable Gadget.\n\nI’m am...,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [60]:
driver.close()

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
# search field.
# You have to scrape 4 attributes of each sneaker:
# 1. Brand
# 2. Product Description
# 3. Price
# As shown in the below image, you have to scrape the tick marked attributes.

In [61]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [62]:
driver.maximize_window()

In [63]:
url = "https://www.flipkart.com/"
driver.get(url)

In [64]:
#Finding the web element for search "Sunglass" 
search=driver.find_element(By.CLASS_NAME,"_3704LK") 
search.send_keys("sneakers")

In [65]:
search_btn=driver.find_element(By.CLASS_NAME,"_34RNph") 
search_btn.click()

In [66]:
#Lets extract all web elements having 100 sneakers Brand 
brands=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]') 
    for i in title_tag: 
        brands.append(i.text.split(",")) 
brands=brands[0:100]

In [67]:
#Lets extract all web elements having 100 sneakers Product Discription 
prod_des=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]') 
    for i in title_tag: 
        prod_des.append(i.text.split(",")) 
prod_des=prod_des[0:100]

In [68]:
#Lets extract all web elements having 100 Sunglass Price 
price=[] 
start=0 
end=3 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]') 
    for i in title_tag: 
        price.append(i.text.split(" ")) 
price=price[0:100]

In [69]:
#Lets make datafram 
import pandas as pd 
sneakers=pd.DataFrame({"sneakers Brands":brands,"Production Descripion":prod_des,"sneakers Price":price}) 
sneakers

   sneakers Brands                Production Descripion sneakers Price
0       [RapidBox]                    [₹549₹99945% off]         [₹549]
1        [Bullchi]                 [₹579₹1, 19951% off]         [₹579]
2       [RED TAPE]              [₹1, 249₹4, 99975% off]       [₹1,249]
3       [RED TAPE]              [₹1, 079₹5, 39980% off]       [₹1,079]
4         [Labbin]                    [₹395₹99960% off]         [₹395]
..             ...                                  ...            ...
95  [Robbie jones]     [₹329₹99967% off\nFree delivery]         [₹329]
96  [gargcreation]     [₹299₹59950% off\nFree delivery]         [₹299]
97        [Kraasa]     [₹499₹99950% off\nFree delivery]         [₹499]
98          [aadi]  [₹499₹1, 99975% off\nFree delivery]         [₹499]
99     [Deals4you]     [₹389₹99961% off\nFree delivery]         [₹389]

[100 rows x 3 columns]

In [70]:
driver.close()

# Q7: Go to the link - https://www.myntra.com/shoes
# Set second Price filter and Color filter to “Black”, as shown in the below image.
# And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
# description, price of the shoe as shown in the below image.
# Note: Applying the filter and scraping the data, everything should be done through code only and there
# should not be any manual step.
# : In Case, Inspect click don’t works, Please use ctrl+shift+c to inspect the element.

In [50]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [51]:
driver.maximize_window()

In [52]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [53]:
price_filter=driver.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label") 
price_filter.click()

In [54]:
color_filter=driver.find_element(By.XPATH,"/html/body/div[2]/div/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label") 
color_filter.click()

In [58]:
#Lets extract all web elements having 100 shoes Brand 
brands=[] 
start=0 
end=2 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]') 
    for i in title_tag: 
        brands.append(i.text) 
brands

['Puma',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'Ruosh',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'Nike',
 'ADIDAS',
 'UNDER ARMOUR',
 'ADIDAS',
 'Saint G',
 'Skechers',
 'Nike',
 'Skechers',
 'ADIDAS Originals',
 'Nike',
 'Tommy Hilfiger',
 'ADIDAS',
 'Skechers',
 'UNDER ARMOUR',
 'Skechers',
 'ADIDAS',
 'Puma',
 'Xtep',
 'ADIDAS Originals',
 'ADIDAS',
 'Geox',
 'Geox',
 'Nike',
 'ADIDAS',
 'ADIDAS',
 'Nike',
 'ADIDAS',
 'Nike',
 'Ruosh',
 'ALDO',
 'Nike',
 'ADIDAS Originals',
 'ALDO',
 'Nike',
 'Ruosh',
 'Saint G',
 'Skechers',
 'Louis Philippe',
 'Saint G',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'Ruosh',
 'UNDER ARMOUR',
 'ADIDAS Originals',
 'Nike',
 'ADIDAS',
 'UNDER ARMOUR',
 'ADIDAS',
 'Saint G',
 'Skechers',
 'Nike',
 'Skechers',
 'ADIDAS Originals',
 'Nike',
 'Tommy Hilfiger',
 'ADIDAS',
 'Skechers',
 'UNDER ARMOUR',
 'Skechers',
 'ADIDAS',
 'Puma',
 'Xtep',
 'ADIDAS Originals',
 'ADIDAS',
 'Geox',
 'Geox',
 'Nike',
 'ADIDAS',
 'ADIDAS',
 'Nike',
 'ADIDAS',
 'Nike',
 'Ruosh',
 'ALDO',
 'Nike',
 'ADIDAS Originals',
 'ALDO',
 'Nike',
 'Ruosh',
 'Saint G',
 'Skechers',
 'Louis Philippe',
 'Saint G']

In [60]:
#Lets extract all web elements having 100 shoes Product Discription
pro_dec=[] 
start=0 
end=2 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]') 
    for i in title_tag: 
        pro_dec.append(i.text) 
pro_dec

['Men Magnify Nitro Running',
 'Men Vomero 16 Running Shoes',
 'Men HOVR SonicSE Running Shoes',
 'Men ChargedEscape 3 BL Running',
 'JORDAN ZION 2 Basketball Shoes',
 'Unisex 3ZER0 IV Basketball',
 'JORDAN MAX AURA 4 Shoes',
 'Eternity Nitro Running Shoes',
 'Men Textured Leather Loafers',
 'Women HOVR SonicSE Running',
 'Men ZX 22 BOOST Sneakers',
 'Men FREE RUN 2 Sneakers',
 'Men Runner Fl Running Shoes',
 'Men HOVR SonicSE Running Shoes',
 'Men Ultraboost 5.0 DNA Running',
 'Suede Above The Knee Boots',
 'Men Walking Shoes',
 'Men Air Max Flyknit Sneakers',
 'Men Sky Vault Walking Shoes',
 'Men Solid NMD_R1 V3 Sneakers',
 'Men AIR MAX DAWN Sneakers',
 'Men Textured Leather Loafers',
 'Men Adistar Running Shoes',
 'Men GO WALK - TERRA Shoes',
 'W omen TriBase Reign 4 Running',
 'Men Woven Design Sneakers',
 'Men Response Super 3.0 Run',
 'Men Nitro 2 WIDE Running Shoes',
 'Men Running Shoes',
 'Men Leather Ozelia Sneakers',
 'Men Ultraboost 5.0 DNA Running',
 'Woman Leather Ankle Boots',
 'Leather Heeled Boots',
 'Men KD 15 Basketball Shoes',
 'Women Ultraboost 22 Running',
 'Men Adistar CS Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Response Super 3.0 Run',
 'Men Air Max Sneakers',
 'Men Leather Loafers',
 'Men Slip-On Sneakers',
 'Men Kyrie Flytrap Basketball',
 'Men Woven Nmd_R1 Sneakers',
 'Men Solid Leather Slip On Formal Shoes',
 'Men AIR WINFLO 9 Running Shoes',
 'Men Textured Leather Loafers',
 'Block Heeled Boots',
 'Women Go Walk EU Walking Shoes',
 'Men Leather Formal Slip-Ons',
 'Women High-Top Heeled Boots',
 'Men Magnify Nitro Running',
 'Men Vomero 16 Running Shoes',
 'Men HOVR SonicSE Running Shoes',
 'Men ChargedEscape 3 BL Running',
 'JORDAN ZION 2 Basketball Shoes',
 'Unisex 3ZER0 IV Basketball',
 'JORDAN MAX AURA 4 Shoes',
 'Eternity Nitro Running Shoes',
 'Men Textured Leather Loafers',
 'Women HOVR SonicSE Running',
 'Men ZX 22 BOOST Sneakers',
 'Men FREE RUN 2 Sneakers',
 'Men Runner Fl Running Shoes',
 'Men HOVR SonicSE Running Shoes',
 'Men Ultraboost 5.0 DNA Running',
 'Suede Above The Knee Boots',
 'Men Walking Shoes',
 'Men Air Max Flyknit Sneakers',
 'Men Sky Vault Walking Shoes',
 'Men Solid NMD_R1 V3 Sneakers',
 'Men AIR MAX DAWN Sneakers',
 'Men Textured Leather Loafers',
 'Men Adistar Running Shoes',
 'Men GO WALK - TERRA Shoes',
 'W omen TriBase Reign 4 Running',
 'Men Woven Design Sneakers',
 'Men Response Super 3.0 Run',
 'Men Nitro 2 WIDE Running Shoes',
 'Men Running Shoes',
 'Men Leather Ozelia Sneakers',
 'Men Ultraboost 5.0 DNA Running',
 'Woman Leather Ankle Boots',
 'Leather Heeled Boots',
 'Men KD 15 Basketball Shoes',
 'Women Ultraboost 22 Running',
 'Men Adistar CS Running Shoes',
 'Women AIR ZOOM Running Shoes',
 'Men Response Super 3.0 Run',
 'Men Air Max Sneakers',
 'Men Leather Loafers',
 'Men Slip-On Sneakers',
 'Men Kyrie Flytrap Basketball',
 'Men Woven Nmd_R1 Sneakers',
 'Men Solid Leather Slip On Formal Shoes',
 'Men AIR WINFLO 9 Running Shoes',
 'Men Textured Leather Loafers',
 'Block Heeled Boots',
 'Women Go Walk EU Walking Shoes',
 'Men Leather Formal Slip-Ons',
 'Women High-Top Heeled Boots']

In [61]:
len(pro_dec)

100

In [62]:
#Lets extract all web elements having 100 Shoes Price
price=[] 
start=0 
end=2 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]') 
    for i in title_tag: 
        price.append(i.text) 
price

['Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 8999',
 'Rs. 10165Rs. 11295(10% OFF)',
 'Rs. 12999',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9695',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 9999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 8999',
 'Rs. 12745Rs. 14995(15% OFF)',
 'Rs. 8999',
 'Rs. 12799Rs. 15999(20% OFF)',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 11999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 11049Rs. 16999(35% OFF)',
 'Rs. 13990',
 'Rs. 13990',
 'Rs. 11196Rs. 13995(20% OFF)',
 'Rs. 12349Rs. 18999(35% OFF)',
 'Rs. 11999Rs. 15999(25% OFF)',
 'Rs. 8750Rs. 10295(15% OFF)',
 'Rs. 8999',
 'Rs. 8295',
 'Rs. 8990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 12999',
 'Rs. 11399Rs. 18999(40% OFF)',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 8990',
 'Rs. 7560Rs. 8400(10% OFF)',
 'Rs. 7499',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 8999',
 'Rs. 10165Rs. 11295(10% OFF)',
 'Rs. 12999',
 'Rs. 7990',
 'Rs. 9999',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9695',
 'Rs. 11249Rs. 14999(25% OFF)',
 'Rs. 9999',
 'Rs. 11899Rs. 16999(30% OFF)',
 'Rs. 13410Rs. 14900(10% OFF)',
 'Rs. 8999',
 'Rs. 12745Rs. 14995(15% OFF)',
 'Rs. 8999',
 'Rs. 12799Rs. 15999(20% OFF)',
 'Rs. 9175Rs. 10795(15% OFF)',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 11999',
 'Rs. 7499',
 'Rs. 8999',
 'Rs. 11999',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 11049Rs. 16999(35% OFF)',
 'Rs. 13990',
 'Rs. 13990',
 'Rs. 11196Rs. 13995(20% OFF)',
 'Rs. 12349Rs. 18999(35% OFF)',
 'Rs. 11999Rs. 15999(25% OFF)',
 'Rs. 8750Rs. 10295(15% OFF)',
 'Rs. 8999',
 'Rs. 8295',
 'Rs. 8990',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 12999',
 'Rs. 11399Rs. 18999(40% OFF)',
 'Rs. 7220Rs. 8495(15% OFF)',
 'Rs. 8990',
 'Rs. 7560Rs. 8400(10% OFF)',
 'Rs. 7499',
 'Rs. 7224Rs. 8499(15% OFF)',
 'Rs. 10710Rs. 11900(10% OFF)']

In [63]:
#Lets make datafram 
import pandas as pd 
shoes=pd.DataFrame({"shoes Brands":brands,"Production Descripion":pro_dec,"shoes Price":price}) 
shoes

,shoes Brands,Production Descripion,shoes Price
0,Puma,Men Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
1,Nike,Men Vomero 16 Running Shoes,Rs. 11470Rs. 13495(15% OFF)
2,UNDER ARMOUR,Men HOVR SonicSE Running Shoes,Rs. 9999
3,UNDER ARMOUR,Men ChargedEscape 3 BL Running,Rs. 8999
4,Nike,JORDAN ZION 2 Basketball Shoes,Rs. 9175Rs. 10795(15% OFF)
...,...,...,...
95,Ruosh,Men Textured Leather Loafers,Rs. 8990
96,Saint G,Block Heeled Boots,Rs. 7560Rs. 8400(10% OFF)
97,Skechers,Women Go Walk EU Walking Shoes,Rs. 7499
98,Louis Philippe,Men Leather Formal Slip-Ons,Rs. 7224Rs. 8499(15% OFF)
99,Saint G,Women High-Top Heeled Boots,Rs. 10710Rs. 11900(10% OFF)

In [64]:
driver.close()

# Q8: Go to webpage https://www.amazon.in/
# Enter “Laptop” in the search field and then click the search icon.
# Then set CPU Type filter to “Intel Core i7” as shown in the below image:
# After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
# 1. Title
# 2. Ratings
# 3. Price

In [72]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [73]:
driver.maximize_window()

In [74]:
url = "https://www.amazon.in/"
driver.get(url)

In [75]:
laptop=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input") 
laptop.send_keys("Laptop")

In [76]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input") 
search_btn.click()

In [77]:
#Filter i7 processor 
pros=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[10]/span/a/span") 
pros.click()

In [78]:
title=[] 
start=0 
end=1 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]') 
    for i in title_tag: 
        title.append(i.text) 
title=title[0:10]

In [79]:
len(title)

10

In [80]:
price=[] 
start=0 
end=1 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]') 
    for i in title_tag: 
        price.append(i.text) 
price=price[0:10]

In [81]:
price

['97,990',
 '1,03,490',
 '93,999',
 '77,500',
 '80,490',
 '83,990',
 '25,895',
 '84,918',
 '25,990',
 '1,01,990']

In [82]:
rating=[] 
start=0 
end=1 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-light-weight-text s-link-centralized-style"]') 
    for i in title_tag: 
        rating.append(i.text) 
rating=rating[0:10]

In [83]:
rating

['19', '15', '65', '25', '8', '115', '34', '34', '1', '18']

In [84]:
#Lets make datafram 
import pandas as pd 
laptop=pd.DataFrame({"laptops names":title,"Rating":rating,"Price":price}) 
laptop

                                       laptops names Rating     Price
0  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...     19    97,990
1  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...     15  1,03,490
2  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...     65    93,999
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....     25    77,500
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...      8    80,490
5  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    115    83,990
6  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...     34    25,895
7  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...     34    84,918
8  Dell Inspiron 5320 Laptop, i7-1260P, 16GB LPDD...      1    25,990
9  (Renewed) HP Workstation Zbook Intel Core i7-4...     18  1,01,990

In [85]:
driver.close()

# Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
# The above task will be done in following steps:
# 1.First get the webpage https://www.azquotes.com/
# 2. Click on Top Quotes
# 3. Than scrap a) Quote b) Author c) Type Of Quote

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [3]:
driver.maximize_window()

In [4]:
url = "https://www.azquotes.com/"
driver.get(url)

In [5]:
pros=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a") 
pros.click()

In [6]:
Quote=[] 
start=0 
end=10 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//a[@class="title"]') 
    for i in title_tag: 
        Quote.append(i.text.split(",")) 
Quote=Quote[0:1000]

In [7]:
Author=[] 
start=0 
end=10 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//div[@class="author"]') 
    for i in title_tag: 
        Author.append(i.text.split(",")) 
Author=Author[0:1000]

In [8]:
Type_Quote=[] 
start=0 
end=10 
for page in range(start,end): 
     
    title_tag=driver.find_elements(By.XPATH,'//div[@class="tags"]') 
    for i in title_tag: 
        Type_Quote.append(i.text.split(",")) 
Type_Quote=Type_Quote[0:1000]

In [9]:
import pandas as pd 
Top_Quotes=pd.DataFrame({"Quote":Quote,"Author":Author,"Type of Quote":Type_Quote}) 
Top_Quotes

,Quote,Author,Type of Quote
0,[The essence of strategy is choosing what not ...,[Michael Porter],"[Essence, Deep Thought, Transcendentalism]"
1,[One cannot and must not try to erase the past...,[Golda Meir],"[Inspiration, Past, Trying]"
2,[Patriotism means to stand by the country. It ...,[Theodore Roosevelt],"[Country, Peace, War]"
3,[Death is something inevitable. When a man has...,[Nelson Mandela],"[Inspirational, Motivational, Death]"
4,[You have to love a nation that celebrates its...,[Erma Bombeck],"[4th Of July, Food, Patriotic]"
...,...,...,...
995,"[When the going gets weird, the weird turn pro.]",[Hunter S. Thompson],"[Music, Sports, Hunting]"
996,[When a train goes through a tunnel and it get...,[Corrie Ten Boom],"[Trust, Encouraging, Uplifting]"
997,"[God doesn't require us to succeed, he only r...",[Mother Teresa],"[Success, God, Mother]"
998,[If you think you are too small to make a diff...,[Dalai Lama],"[Inspirational, Funny, Change]"
999,[Change your thoughts and you change your world.],[Norman Vincent Peale],"[Inspirational, Motivational, Change]"

In [10]:
driver.close()

# Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model
# name and Price) from https://www.motor1.com/
# This task will be done in following steps:
# 1. First get the webpage https://www.motor1.com/
# 2. Then You have to click on the List option from Dropdown menu on left side.
# 3. Then click on 50 most expensive cars in the world..
# 4. Then scrap the mentioned data and make the

In [11]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [12]:
driver.maximize_window()

In [13]:
url = "https://www.motor1.com/"
driver.get(url)

In [18]:
lists=driver.find_element(By.XPATH,"/html/body") 
lists.click()

In [19]:
cars=driver.find_element(By.XPATH,"/html/body/div[2]/div[9]/div[1]/div[1]/div/div/div[1]/div/div[1]/h3/a") 
cars.click()

In [20]:
company_name = []
comp_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in comp_tags:
    company_name.append(i.text.split(","))
company_name=company_name[0:50]
company_name

[['Drako GTE'],
 ['De Tomaso P72'],
 ['Ferrari LaFerrari'],
 ['Pagani Huayra'],
 ['McLaren Elva'],
 ['Czinger 21C'],
 ['Ferrari Monza'],
 ['Gordon Murray T.33'],
 ['Koenigsegg Gemera'],
 ['Zenvo TSR-S'],
 ['Hennessey Venom F5'],
 ['Bentley Bacalar'],
 ['Hispano Suiza Carmen Boulogne'],
 ['Bentley Mulliner Batur'],
 ['Deus Vayanne'],
 ['SSC Tuatara'],
 ['Lotus Evija'],
 ['Aston Martin Vulcan'],
 ['Delage D12'],
 ['McLaren Speedtail'],
 ['Rimac Nevera'],
 ['Pagani Utopia'],
 ['Pininfarina Battista'],
 ['Ferrari FXX K Evo'],
 ['Gordon Murray T.50'],
 ['Lamborghini Countach'],
 ['Mercedes-AMG Project One'],
 ['Aston Martin Victor'],
 ['Hennessey Venom F5 Roadster'],
 ['Koenigsegg Jesko'],
 ['Aston Martin Valkyrie'],
 ['W Motors Lykan Hypersport'],
 ['McLaren Solus'],
 ['Pagani Huayra Roadster BC'],
 ['Bugatti Chiron Pur Sport'],
 ['Lamborghini Sian'],
 ['Koenigsegg CC850'],
 ['Bugatti Chiron Super Sport 300+'],
 ['Lamborghini Veneno'],
 ['Bugatti Bolide'],
 ['Bugatti Mistral'],
 ['Pagani Huayra Imola'],
 ['Bugatti Divo'],
 ['SP Automotive Chaos'],
 ['Pagani Codalunga'],
 ['Mercedes-Maybach Exelero'],
 ['Bugatti Centodieci'],
 ['Rolls-Royce Sweptail'],
 ['Bugatti La Voiture Noire'],
 ['Rolls-Royce Boat Tail*']]

In [21]:
len(company_name)

50

In [22]:
car_price=[] 
 
Car_Price=driver.find_elements(By.XPATH,"/html/body/div[2]/div[7]/div[2]/div[1]/div[2]/div[1]/ul/li") 
for i in Car_Price: 
    car_price.append(i.text) 
len(car_price)

50

In [23]:
#Lets Make DataFrame 
import pandas as pd 
expensive_cars=pd.DataFrame({"car_name":company_name,"price":car_price}) 
expensive_cars

,car_name,price
0,[Drako GTE],Drako GTE - $1.2 Million
1,[De Tomaso P72],DeTomaso P72: $1.3 Million
2,[Ferrari LaFerrari],Ferrari LaFerrari - $1.4 Million
3,[Pagani Huayra],Pagani Huayra - $1.4 Million
4,[McLaren Elva],Czinger 21C - $1.7 Million
5,[Czinger 21C],Ferrari Monza - $1.7 Million
6,[Ferrari Monza],Gordon Murray T.33 - $1.7 Million
7,[Gordon Murray T.33],Koenigsegg Gemera - $1.7 Million
8,[Koenigsegg Gemera],McLaren Elva - $1.7 Million
9,[Zenvo TSR-S],Zenvo TSR-S - $1.7 Million
10,[Hennessey Venom F5],Hennessey Venom F5 - $1.8 Million
11,[Bentley Bacalar],Bentley Bacalar - $1.9 Million
12,[Hispano Suiza Carmen Boulogne],Hispano Suiza Carmen Boulogne: $1.9 Million
13,[Bentley Mulliner Batur],Bentley Mulliner Batur: $2.0 Million
14,[Deus Vayanne],Deus Vayanne: $2.0 Million
15,[SSC Tuatara],SSC Tuatara - $2.0 Million*
16,[Lotus Evija],Lotus Evija - $2.1 Million
17,[Aston Martin Vulcan],Aston Martin Vulcan - $2.3 Million
18,[Delage D12],Delage D12: $2.3 Million
19,[McLaren Speedtail],McLaren Speedtail - $2.3 Million
20,[Rimac Nevera],Rimac Nevera - $2.4 Million
21,[Pagani Utopia],Pagani Utopia: $2.5 Million
22,[Pininfarina Battista],Pininfarina Battista - $2.5 Million
23,[Ferrari FXX K Evo],Ferrari FXX K Evo - $2.6 Million
24,[Gordon Murray T.50],Gordon Murray T.50 - $2.6 Million
25,[Lamborghini Countach],Lamborghini Countach - $2.6 Million
26,[Mercedes-AMG Project One],Mercedes-AMG Project One - $2.7 Million
27,[Aston Martin Victor],Aston Martin Victor - $3.0 Million
28,[Hennessey Venom F5 Roadster],Hennessey Venom F5 Roadster: $3.0 Million
29,[Koenigsegg Jesko],Koenigsegg Jesko - $3.0 Million
30,[Aston Martin Valkyrie],Aston Martin Valkyrie - $3.2 Million
31,[W Motors Lykan Hypersport],W Motors Lykan Hypersport - $3.4 Million
32,[McLaren Solus],McLaren Solus: $3.5 Million
33,[Pagani Huayra Roadster BC],Pagani Huayra Roadster BC - $3.5 Million
34,[Bugatti Chiron Pur Sport],Bugatti Chiron Pur Sport - $3.6 Million
35,[Lamborghini Sian],Lamborghini Sian - $3.6 million
36,[Koenigsegg CC850],Koenigsegg CC850: $3.7 Million
37,[Bugatti Chiron Super Sport 300+],Bugatti Chiron Super Sport 300+ - $3.9 Million
38,[Lamborghini Veneno],Lamborghini Veneno - $4.5 Million
39,[Bugatti Bolide],Bugatti Bolide - $4.7 Million
40,[Bugatti Mistral],Bugatti Mistral: $5.0 Million
41,[Pagani Huayra Imola],Pagani Huayra Imola: $5.4 Million
42,[Bugatti Divo],Bugatti Divo - $5.8 Million
43,[SP Automotive Chaos],SP Automotive Chaos - $6.4 Million
44,[Pagani Codalunga],Pagani Codalunga: $7.4 Million
45,[Mercedes-Maybach Exelero],Mercedes-Maybach Exelero - $8.0 Million
46,[Bugatti Centodieci],Bugatti Centodieci - $9.0 Million
47,[Rolls-Royce Sweptail],Rolls-Royce Sweptail - $12.8 Million
48,[Bugatti La Voiture Noire],Bugatti La Voiture Noire - $13.4 Million
49,[Rolls-Royce Boat Tail*],Rolls-Royce Boat Tail - $28.0 Million*

In [25]:
driver.close()