# * WEB SCRAPING-ASSIGNMENT-3

# Instructions:

# • All questions are compulsory.
# • In each of the questions you have to automate the process. You do not have to click on any button, click any clickable element, enter keywords in search boxes manually. Each process has to be performed via coding.
# • Q1 and Q2 are connected questions i.e. after attempting Q1 proceed to Q2. Do not write whole code from beginning for Q2.
# • You may use any web scraping library and tools.
# • The question can be attempted in various ways; the correctness of question depends on the output.
# • If you encounter any Null values during scraping, you may replace it by hyphen.

# Exercise:

# Q1. Write a python program which searches all the product under a particular product from www.amazon.in.The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [1]:
import selenium
from selenium import webdriver 
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [15]:
driver.maximize_window()

In [16]:
url = "https://www.amazon.in/"
driver.get(url)

In [17]:
guitar=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input") 
guitar.send_keys("guitars")

In [18]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input") 
search_btn.click()

# 2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and “Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [19]:
urls=[]
start=0
end=1
for page in range(start,end):
    url=driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
    for i in url:
        urls.append(i.get_attribute('href'))
    next_button=driver.find_elements(By.XPATH,"//A[@CLASS='s-pagination-item s-pagination-next s-pagination-button s-pagination-separator']")

In [20]:
len(urls)

64

In [21]:
# Scraping details of product for which you want
Brand_Name=[]
Name_of_Product=[]
Ratings=[]
Num_of_Ratings=[]
Price=[]
for i in urls:

    driver.get(i)

    time.sleep(5)

    

    try:

        brand=driver.find_element(By.XPATH,"//table[@id='productDetails_techSpec_section_1']/tbody/tr[1]/td")

        Brand_Name.append(brand.text)

    except:

        Brand_Name.append('-')
        
    try:

        NOP=driver.find_element(By.XPATH,"//table[@id='productDetails_techSpec_section_1']/tbody/tr[3]/td")

        Name_of_Product.append(NOP.text)

    except:

        Name_of_Product.append('-')
    
    try:

        rating=driver.find_element(By.XPATH,"//span[@class='a-size-base a-nowrap']")

        Ratings.append(rating.text)

    except:

        Ratings.append('-')
        
        
    try:

        NOR=driver.find_element(By.XPATH,"//span[@id='acrCustomerReviewText']")

        Num_of_Ratings.append(NOR.text)

    except:

        Num_of_Ratings.append('-')
        
    try:

        price=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[6]/div[4]/div[1]/div[3]/div/div/div/div/form/div/div/div/div/div[2]/div[1]/div/span/span[2]/span[2]")

        Price.append(price.text)

    except:

        Price.append('-')

In [24]:
import pandas as pd
guitar = pd.DataFrame()
guitar['Brand'] = Brand_Name
guitar['Names'] = Name_of_Product
guitar['Ratings'] = Ratings
guitar['Num_of_Ratings'] = Num_of_Ratings
guitar['Price'] = Price
guitar

,Brand,Names,Ratings,Num_of_Ratings,Price
0,Kadence,SH-02-03-04,4 out of 5,534 ratings,-
1,FESTRA,38C,3.9 out of 5,22 ratings,-
2,Gibz's,G 38-Matte- Black,-,-,-
3,VAULT,DA40NT,4 out of 5,1 rating,-
4,43 x 98 x 11 cm; 2.06 Kilograms,"Wood, Basswood",4 out of 5,"18,045 ratings","2,399"
...,...,...,...,...,...
59,Kadence,FNTR-C,4 out of 5,"1,797 ratings",-
60,Blueberry,R-40,-,-,-
61,15 x 5 x 5 cm; 120 Grams,Alloy Steel,3.8 out of 5,163 ratings,975
62,Blueberry,B-40L,3.7 out of 5,30 ratings,-
63,Blueberry,B-38C-Brown,-,-,-

In [25]:
driver.close()

# Q6. Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.

In [15]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [16]:
driver.maximize_window()

In [17]:
url = "https://trak.in/"
driver.get(url)

In [18]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[1]/header/div[2]/div/div/div/div/nav/ul/li[9]/a") 
search_btn.click()

In [20]:
series = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-1"]')
for i in name_tags:
    series.append(i.text)

In [21]:
len(series)

392

In [22]:
Date = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-2"]')
for i in name_tags:
    Date.append(i.text)

In [23]:
len(Date)

392

In [24]:
startup = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-3"]')
for i in name_tags:
    startup.append(i.text)

In [25]:
len(startup)

392

In [26]:
Industry = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-4"]')
for i in name_tags:
    Industry.append(i.text)

In [27]:
len(Industry)

392

In [28]:
sub_vertical = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-5"]')
for i in name_tags:
    sub_vertical.append(i.text)

In [29]:
len(sub_vertical)

392

In [30]:
city = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-6"]')
for i in name_tags:
    city.append(i.text)

In [31]:
len(city)

392

In [32]:
Invertor_name = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-7"]')
for i in name_tags:
    Invertor_name.append(i.text)

In [33]:
len(Invertor_name)

392

In [34]:
Investment_type = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-8"]')
for i in name_tags:
    Investment_type.append(i.text)

In [35]:
len(Investment_type)

392

In [36]:
Amount = []
name_tags= driver.find_elements(By.XPATH,'//td[@class="column-9"]')
for i in name_tags:
    Amount.append(i.text)

In [37]:
len(Amount)

392

In [38]:
import pandas as pd
second_quarter = pd.DataFrame()
second_quarter['series'] = series
second_quarter['Date'] = Date
second_quarter['startup'] = startup
second_quarter['Industry'] = Industry
second_quarter['sub_vertical'] = sub_vertical
second_quarter['city'] = city
second_quarter['Invertor_name'] = Invertor_name
second_quarter['Investment_type'] = Investment_type
second_quarter

,series,Date,startup,Industry,sub_vertical,city,Invertor_name,Investment_type
0,1,01/04/2021,BYJU’S,Edu-tech,Online tutoring,Bengaluru,Innoven Capital,Series F
1,2,05/04/2021,Meesho,E-commerce,Online reselling platform,Bengaluru,SoftBank Vision Fund 2,Series E
2,3,14/04/2021,Swiggy,Online Food Delivery,Online Food Delivery,Bengaluru,"Amansa Holdings, Carmignac, Falcon Edge Capita...",Series J
3,4,07/04/2021,Groww,FinTech,Investment platform,Bengaluru,"MC Global Edtech, B Capital, Baron, others",Series D
4,5,14/04/2021,Beldara,E-commerce,Global B2B marketplace,Mumbai,Hindustan Media Ventures,Venture
...,...,...,...,...,...,...,...,...
387,6,09/07/2018,zippserv,Consumer Internet,Online Platform For Risk-Assessment Services F...,Bengaluru,Info Edge (India) Ltd,Seed/ Angel Funding
388,7,09/07/2018,Groww,Consumer Internet,Online Platform That Sells Direct Plans Of Mut...,Bengaluru,"Insignia Ventures Partners, Lightbridge Partne...",Seed/ Angel Funding
389,8,10/07/2018,Avenue Growth,Consumer Internet,Online Platform That Connects Brands With Free...,Gurugram,"Avtar Monga, chief operating office at IDFC Ba...",Seed/ Angel Funding
390,9,10/07/2018,iNICU,Healthcare,Med-tech Platform Providing Care For Newborns,Delhi,Venture Catalysts,Seed/ Angel Funding
391,10,10/07/2018,Kinara Capital,Finance,Lending Platform For Micro and Small Enterprises,Bengaluru,ResponsAbility,Private Equity

In [39]:
driver.close()

# Q7. Write a program to scrap all the available details of best gaming laptops from digit.in

In [53]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [54]:
driver.maximize_window()

In [55]:
url = "https://www.digit.in/"
driver.get(url)

In [56]:
#Clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,"//div[@class='listing_container']/ul/li[9]")
search_btn.click()

In [57]:
Laptop_Name = []
Operating_sys = []
Display = []
Processor = []
Memory = []
Weight = []
Dimensions = []
Graph_proc = []
Price = []
#scraping the data of laptop names
laptop_name = driver.find_elements(By.XPATH,"//div[@class='right-container']/div/div/div/a/h3")
for name in laptop_name:
    Laptop_Name.append(name.text)
    
#scraping the data of operating system
try:
    op_sys = driver.find_elements(By.XPATH,"//div[@class='product-detail']/div/ul/li[1]/div/div")
    for os in op_sys:
        Operating_sys.append(os.text)
except NoSuchElementException:
    Operating_sys.append('-')


#scraping data of display of the Laptop
try:
    display = driver.find_elements(By.XPATH,"//div[@class='product-detail']/div/ul/li[2]/div/div")
    for disp in display:
        Display.append(disp.text)
except NoSuchElementException:
    Display.append("-")


# scraping data of processor
try:
    processor = driver.find_elements(By.XPATH,"//div[@class='Spcs-details'][1]/table/tbody/tr[2]/td[3]")
    for pro in processor:
        Processor.append(pro.text)
except NoSuchElementException:
    Processor.append('-')


# scraping the data of memory
try:
    memory = driver.find_elements(By.XPATH,"//div[@class='Spcs-details'][1]/table/tbody/tr[6]/td[3]")
    for memo in memory:
        Memory.append(memo.text)
except NoSuchElementException:
    Memory.append('-')


# scraping data of weight
try:
    weight = driver.find_elements(By.XPATH,"//div[@class='Spcs-details'][1]/table/tbody/tr[8]/td[3]")
    for wgt in weight:
        Weight.append(wgt.text.split(" ")[8:])
except NoSuchElementException:
    Weight.append('-')


# scraping data of dimensions
try:
    dimension = driver.find_elements(By.XPATH,"//div[@class='Spcs-details'][1]/table/tbody/tr[8]/td[3]")
    for dim in dimension:
        Dimensions.append(dim.text)
except NoSuchElementException:
    Dimensions.append('-')


# scraping data of graph processor
try:
    graph = driver.find_elements(By.XPATH,"//div[@class='Spcs-details'][1]/table/tbody/tr[7]/td[3]")
    for gra in graph:
        Graph_proc.append(gra.text)
except NoSuchElementException:
    Graph_proc.append('-')


# scraping the data of price
try:
    price = driver.find_elements(By.XPATH,"//td[@class='smprice']")
    for pri in price:
        Price.append(pri.text)
except NoSuchElementException:
    Price.append('-')

In [61]:
import pandas as pd
Laptop = pd.DataFrame()
Laptop['Laptop Name'] = Laptop_Name
Laptop['operating sys'] = Operating_sys
Laptop['Display'] = Display
Laptop['Price'] = Price
Laptop['Memory'] = Memory
Laptop['Weight'] = Weight
Laptop['Dimensions'] = Dimensions
Laptop['Graph'] = Graph_proc
Laptop

,Laptop Name,operating sys,Display,Price,Memory,Weight,Dimensions,Graph
0,MSI Titan GT77-12UHS,Windows 11 Home OS,"17.3"" (3840 x 2160) Display",N/A,64 GB DDR5 RAM & 2 TB SSD,"[3.3, kg, weight]",397 x 330 x 23 mm dimension & 3.3 kg weight,16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics...
1,Alienware X17 R2,Windows 11 Home OS,"17.3"" (1920 x 1080) Display","₹ 389,990",32 GB DDR5 RAM & 1 TB SSD,"[2.96, kg, weight]",299 x 359 x 21 mm dimension & 2.96 kg weight,16 GB DDR6 NVIDIA GEFORCE RTX 3080 Ti Graphics...
2,Acer Predator Triton 500 SE PT516-52s,Windows 11 OS,"16"" (2560 x 1600) Display","₹ 229,990",32 GB DDR5 RAM & 2 TB SSD,"[2.4, kg, weight]",262 x 359 x 20 mm dimension & 2.4 kg weight,8 GB DDR6 NVIDIA GeForce RTX 3070 Ti Graphics ...
3,Omen By HP (16-B1371TX),Windows 11 Home OS,"16.1"" (2560 x 1440) Display","₹ 176,290",8 GB DDR5 RAM & 1 TB SSD,"[2.32, kg, weight]",369 x 248 x 23 mm dimension & 2.32 kg weight,8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics card
4,Acer Predator Helios 300 AN515-45,Windows 11 Home OS,"15.6"" (2560 x 1440) Display","₹ 172,999",16 GB DDR4 RAM & 512 GB SSD,"[2.4, kg, weight]",363 x 255 x 23.9 mm dimension & 2.4 kg weight,8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics card
5,MSI Delta 15 (A5EFK-083IN),Windows 11 Home OS,"15.6"" (1920 x 1080) Display","₹ 188,990",16 GB DDR4 RAM & 1 TB SSD,"[1.9, kg, weight]",357 x 247 x 19 mm dimension & 1.9 kg weight,10 GB DDR6 AMD Radeon RX 6700M Graphics card
6,Omen By HP (16-C0141AX),Windows 11 Home OS,"16.1"" (2560 x 1440) Display","₹ 124,990",16 GB DDR4 RAM & 1 TB NVMe,"[2.3, kg, weight]",36.92 x 24.8 x 2.3 mm dimension & 2.3 kg weight,8 GB GDDR6 AMD Radeon™ RX 6600M Graphics card
7,Lenovo Legion 5i Pro (82RF00MGIN),Windows 11 Home OS,"16"" (2560 x 1600) Display","₹ 162,869",16 GB DDR5 RAM & 1 TB SSD,"[2.49, kg, weight]",360 x 264 x 20 mm dimension & 2.49 kg weight,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card
8,Alienware M15 R5 Ryzen Edition Icc-C780001win,Windows 11 Home OS,"15.6"" (1920 x 1080) Display","₹ 174,000",16 GB DDR4 RAM & 512 GB SSD,"[2.69, kg, weight]",356.2 x 272.5 x 22.85 mm dimension & 2.69 kg w...,6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card
9,Lenovo Slim 7 Gen 6 (82K8002JIN),Windows 11 Home OS,15.6 MP | NA Display,"₹ 131,990",16 GB DDR4 RAM & 1 TB SSD,"[1.9, kg, weight]",356 x 252 x 16 mm dimension & 1.9 kg weight,6 GB DDR6 NVIDIA GeForce 3060 Max-Q Graphics card

In [62]:
driver.close()

# Q8. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [59]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [60]:
driver.maximize_window()

In [61]:
url = "https://www.forbes.com/"
driver.get(url)

In [62]:
opt_btn = driver.find_element(By.XPATH,"//div[@class='_69hVhdY4']")
opt_btn.click()
time.sleep(3)

In [63]:
#let's get option button from the page
opt_btn = driver.find_element(By.XPATH,"//div[@class='mpBfVZz3']")
opt_btn.click()
time.sleep(3)

In [64]:
#let's get option button from the page
opt_btn = driver.find_element(By.XPATH,"//a[@class='chansec-special-feature__title-wrapper']")
opt_btn.click()
time.sleep(3)

In [65]:
Name = []
name_tags= driver.find_elements(By.XPATH,'//div[@class="personName"]')
for i in name_tags:
    Name.append(i.text)

In [66]:
len(Name)

200

In [67]:
Net_worth = []
name_tags= driver.find_elements(By.XPATH,'//div[@class="netWorth"]')
for i in name_tags:
    Net_worth.append(i.text)

In [68]:
len(Net_worth)

200

In [69]:
Country = []
name_tags= driver.find_elements(By.XPATH,'//div[@class="countryOfCitizenship"]')
for i in name_tags:
    Country.append(i.text)

In [70]:
len(Country)

200

In [71]:
Source = []
name_tags= driver.find_elements(By.XPATH,'//div[@class="source"]')
for i in name_tags:
    Source.append(i.text)

In [72]:
len(Source)

200

In [73]:
import pandas as pd
billionaires = pd.DataFrame()
billionaires['Name'] = Name
billionaires['Net_worth'] = Net_worth
billionaires['Country'] = Country
billionaires['Source'] = Source
billionaires

                         Name Net_worth        Country                 Source
0                   Elon Musk    $219 B  United States          Tesla, SpaceX
1                  Jeff Bezos    $171 B  United States                 Amazon
2    Bernard Arnault & family    $158 B         France                   LVMH
3                  Bill Gates    $129 B  United States              Microsoft
4              Warren Buffett    $118 B  United States     Berkshire Hathaway
..                        ...       ...            ...                    ...
195    Marcel Herrmann Telles   $10.3 B         Brazil                   beer
196                Leon Black     $10 B  United States         private equity
197                Joe Gebbia     $10 B  United States                 Airbnb
198              David Geffen     $10 B  United States  movies, record labels
199                Yu Renrong     $10 B          China         semiconductors

[200 rows x 4 columns]

In [74]:
driver.close()

# Q10. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [9]:
driver = webdriver.Edge(r"C:/Users/yjjai/Downloads/edgedriver_win64/msedgedriver.exe")

In [10]:
driver.maximize_window()

In [11]:
url = "https://www.hostelworld.com/"
driver.get(url)

In [13]:
london=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[1]/div/div/div/input") 
london.send_keys("London")

In [14]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[1]/div/div/ul/li[2]") 
search_btn.click()

In [17]:
search_btn=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div[2]/div[1]/div/div/div[4]/div/div[2]/div/div[5]/button") 
search_btn.click()

In [22]:
hotel_name = []
name_tags= driver.find_elements(By.XPATH,'//h2[@class="title title-6"]')
for i in name_tags:
    hotel_name.append(i.text)

In [33]:
#scraping the data of hotel distance
hotel_dist = []
try:
    dist = driver.find_elements(By.XPATH,'//span[@class="description"]')
    for os in dist:
        hotel_dist.append(os.text)
except NoSuchElementException:
    hotel_dist.append('-')

In [35]:
Rating = []
try:
    rat = driver.find_elements(By.XPATH,'//div[@class="score orange big"]')
    for os in rat:
        Rating.append(os.text)
except NoSuchElementException:
    Rating.append('-')

In [37]:
Toatl_rev = []
try:
    rat = driver.find_elements(By.XPATH,'//div[@class="reviews"]')
    for os in rat:
        Toatl_rev.append(os.text)
except NoSuchElementException:
    Toatl_rev.append('-')

In [40]:
dorms_price = []
try:
    rat = driver.find_elements(By.XPATH,'//div[@class="price title-5"]')
    for os in rat:
        dorms_price.append(os.text)
except NoSuchElementException:
    dorms_price.append('-')

In [47]:
privates_price = []
try:
    rat = driver.find_elements(By.XPATH,'//p[@class="no-price body-3 no-privates"]')
    for os in rat:
        privates_price.append(os.text)
except NoSuchElementException:
    privates_price.append('-')

In [48]:
property_description = []
try:
    rat = driver.find_elements(By.XPATH,'//div[@class="location"]')
    for os in rat:
        property_description.append(os.text)
except NoSuchElementException:
    property_description.append('-')

In [52]:
driver.close()